

.status {
    width:100%;
    background: #F0F0F0;
    text-align:left;
}

.title {
  font-family: sans-serif;
  font-size: 28px;
}

td {
    text-align: center;
}

th{
    background-color: #F0F0F0;
    font-size: 28px;
    text-align: center;
}

input {
  font-family: sans-serif;
  font-size: 28px;
}

body{
   text-align:center;
}


table.fixed { table-layout:fixed;  }
